body {
    background-image: url(../images/loginBackground.jpg);
    font-family: sans-serif;
}

/* Login Information */
#loginInfoCont {
    background-color: rgba(92, 143, 255, .75);
    width: 400px;
    height: 330px;
    margin: 0 auto;
    border-radius: 10%;
    color: white;
    margin-top: 100px;
}

#loginInfoInnerCont {
    margin: 0 auto;
    width: 400px;
    padding-top: 20px;
}

/* Log In Content */
.Title {
    text-align: center;
    font-size: 40;
}

#loginBoxes {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

#loginButtonCont {
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.buttons {
    border-radius: 12px;
    background-color: #36398f;
    padding-left: 15px;
    padding-right: 15px;
}